[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
scikit-learn = "*"
pillow = "*"
openpyxl = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.8"